extends layout

block content
  //p Welcome to #{title}

  textarea(rows="6", id="htmlContent", placeholder='html content')

  button.submit-- Start

  input(type='file')

  br
  #log(style='width:100%;height:100vh; overflow:auto; white-space: pre-line;')
